@use "../../utils";

.results {
  @include utils.horizontal(2rem);
  justify-content: center;
  align-items: center;
  color: #000000;


  .download {
    text-decoration: none;
    color: #000000;
    background-color: #bafcba;
    padding: 1.5rem 3rem;
    border-radius: 0.3rem;
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: #66f966;
    }

    &:active {
      background-color: #5de75d;
    }
  }

  .description {
    font-size: 0.9rem;
    flex: 1 1 auto;
  }

}