@use "utils";

.App {
  width: 60rem;
  max-width: 80%;
  position: relative;
  @include utils.vertical(3rem);
  align-items: stretch;
  padding: 3rem;
  background-color: white;
  border: 1px solid #cbd5e1;
  border-radius: 0.8rem;

  h1 {
    align-self: center;
  }

  .server-status {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    margin-top: 0;

    &.online {
      background-color: #66f966;
    }

    &.offline {
      background-color: #dc143c;
    }
  }

  .entries {
    @include utils.vertical(1rem);
    padding: 0 2rem;

    > * + * {
      padding-top: 1rem;
      border-top: 1px solid #cbd5e1;
    }
  }
}