@use "utils";

.App {
  width: 60rem;
  max-width: 80%;
  @include utils.vertical();
  align-items: stretch;
  padding: 3rem;
  background-color: white;
  opacity: 0.9;
  border: 1px solid #cbd5e1;
  border-radius: 0.8rem;
}