@use "utils";

.App {
  width: 60rem;
  max-width: 80%;
  @include utils.vertical(3rem);
  align-items: stretch;
  padding: 3rem;
  background-color: white;
  border: 1px solid #cbd5e1;
  border-radius: 0.8rem;

  h1 {
    align-self: center;
  }

  .entries {
    @include utils.vertical(1rem);
    padding: 0 2rem;

    > * + * {
      padding-top: 1rem;
      border-top: 1px solid #cbd5e1;
    }
  }
}