.select-file-form {
  display: flex;
  width: 60rem;
  height: 40rem;
  max-width: 80%;
  max-height: 80%;

  label {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daebff;
    border: 0.3rem dashed #cbd5e1;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &.active {
      background-color: #ffffff;
    }

    span {
      font-size: 2rem;
      padding: 10rem;
      text-align: center;
    }
  }

  input[type="file"] {
    display: none;
  }
}