.select-file-form {
  display: flex;
  min-height: 10rem;
  position: sticky;
  bottom: 1rem;

  label {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daebff;
    border: 0.3rem dashed #cbd5e1;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 2rem;

    &.active {
      background-color: #ffffff;
    }

    .drag-drop {
      padding: 2rem;
      text-align: center;

      .click-here {
        font-weight: bolder;
      }
    }
  }

  input[type="file"] {
    display: none;
  }
}