.select-file-form {
  display: flex;
  min-height: 10rem;
  position: sticky;
  bottom: 1rem;

  label {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daebff;
    border: 0.3rem dashed #cbd5e1;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;

    &.active {
      background-color: #ffffff;
    }

    span {
      font-size: 2rem;
      padding: 2rem;
      text-align: center;
    }
  }

  input[type="file"] {
    display: none;
  }
}