@use "src/utils";

.entry {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 5rem;

  > * {
    padding: 1rem;
    border-radius: 0.3rem;
  }

  .file-name {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
    min-width: 10rem;
    background-color: #daebff;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .content {
    flex: 1 1 auto;
    overflow-x: auto;
  }

  .remove {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 200ms ease-in, color 200ms ease-in;

    &:hover {
      color: #ffffff;
      background-color: rgb(255, 0, 0, 1);
    }
  }

}